.text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCC02;
    min-height: 70px;
    font-size:18px;
    padding-top: 10%;
    width: 100%;
    box-shadow: 3px 3px 5px #A0A0A0;
   

}

.text h4{
    margin: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.cardSelect h5{
color: #000000;

 
}

.cardSelect{
    min-width:280px;
    max-width:300px;
    width: 100%;
    height: 400px;
    background-color: #FEFEFE;
    border: 1px solid #c2bfbf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    box-shadow: 3px 3px 5px #A0A0A0;
    padding: 10px;
    margin :20px auto;
}

.buttonSelect{
    width: 75%;
    border-radius: 10px;
    background-color: #FFCC02;
    max-width: 170px;
    padding: 8px;
    font-size: 16px;
    box-shadow: 3px 3px 5px #A0A0A0;
   display: flex;
   justify-content: center;
  
}

@media only screen and (max-width: 900px) {

  
    .buttonSelect{
        width: 75%;
        border-radius: 10px;
        background-color: #FFCC02;
        max-width: 180px;
        padding: 1rem;
        font-size: 16px;
        box-shadow: 3px 3px 5px #A0A0A0;
        text-align: center;
    }

    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFCC02;
        min-height: 70px;
        font-size:18px;
        padding-top: 15%;
      
    }

}

@media only screen and (max-width: 400px) {

   
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFCC02;
        min-height: 70px;
        font-size:14px;
       
    }

    .buttonSelect{
        width: 75%;
        border-radius: 10px;
        background-color: #FFCC02;
        max-width: 150px;
        padding: 1rem;
        font-size: 18px;
        box-shadow: 3px 3px 5px #A0A0A0;
        text-align: center;
    }
}