
.bottom{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.container{
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 30%;
    right: 0;
    left: 0;
    margin: auto;
    width: 27rem;
    height: 60vh;
    overflow-x: auto;
    background-color: #FEFEFE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

@media only screen and (min-width:400px ) and (max-width:400px ){
    .container{
        max-width: 21.5rem;
    }
}        


@media only screen and (min-width:700px ) {
    .container{
        height: 57vh;
    }
}
