
.Crud{
   /*  background-color: #8f8f8f; */
    width: 80vw;
   
}
table tr:nth-child(even){
  background-color: #ffffff;
  
}

table{

 text-align:flex start;
  border-collapse: collapse;

}
@media only screen and (min-width: 1024px ) {
    
.Crud{
  
  width: 90vw;
  position: relative;
  left: 50px;
 
}
  tbody tr:hover{
    background-color: #cccccc;
    
  }
  .th{
    color: aqua;
  }
  
 table,table thead,table tbody{
   width: 80vw;
   
   
 }

 
  
}



