/*aqui agregue el media, en el crud el scroll*/
@media screen and (max-width: 420px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
.Crud{
    width: 100vw;
    height: 50vh;
    overflow:scroll; 
}

table tr{
  
  border-bottom-width: 1px;
  /* overflow-x: scroll; */
}
table{
 text-align:flex start;
  border-collapse: collapse;
  margin-left: 1px;
}
table thead th{
  width: 50vw;
  vertical-align: bottom;
}
tbody td {
  width: 100vw;
}


@media only screen and (min-width: 1024px ) {
    
.Crud{
  
  width: 90vw;
  position: relative;
  left: 50px;
  
}

  tbody tr:hover{
    background-color: #c4c4c4;
    
  }
  
 table,table thead,table tbody{
   width: 80vw;
 }


 
  
}



